[Unit]
Description=RFID service

[Service]
Type=simple
ExecStart=/bin/bash /home/volumio/volumio-rfid/Start_rfid.sh
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
RuntimeMaxSec=infinity

[Install]
WantedBy=default.target
